@import '~node_modules/modern-normalize/modern-normalize.css';


.search-form {
    width: 100%;
    text-align: center;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: aquamarine;
   }

   .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
   }

   input {
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid rgb(173, 216, 230);
    font-size: 14px;
   }